@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
  transition: transform 0.5s ease-in-out;
  position: absolut;
  /* width: 100%; */
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0);
}

.slide-exit {
  transform: translateX(0);
}

.slide-exit-active {
  transform: translateX(-100%);
}

.slide-enter-reverse {
  transform: translateX(-100%);
}

.slide-enter-active-reverse {
  transform: translateX(0);
}

.slide-exit-reverse {
  transform: translateX(0);
}

.slide-exit-active-reverse {
  transform: translateX(100%);
}
@layer utilities {
  .bg-size-18 {
    background-size: 18%;
  }
  .bg-size-50 {
    background-size: 50%;
  }
  .bg-size-75 {
    background-size: 75%;
  }
  .bg-size-100 {
    background-size: 100%;
  }
}
