@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: clamp(0.75rem, 2vw, 1rem);
  }
}

@layer utilities {
  @media (min-width: 640px) {
    .quote-position {
      background-position-x: 25%;
    }
  }
  .clamp {
    font-size: clamp(1rem, 3vw, 2rem);
  }
  .bg-size-15 {
    background-size: 15%;
  }
  .bg-size-18 {
    background-size: 18%;
  }
  .bg-size-40 {
    background-size: 40%;
  }
  .bg-size-45 {
    background-size: 45%;
  }
  .bg-size-48 {
    background-size: 48%;
  }
  .bg-size-50 {
    background-size: 50%;
  }
  .bg-size-75 {
    background-size: 75%;
  }
  .bg-size-100 {
    background-size: 100%;
  }
}
